#album {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#poster {
    opacity: 0.6;
    margin: 23px;

/* A6 dimensions 
    height: 105mm;
    width: 74mm;
*/

    width: 105mm;
    height: 148.5mm;
}

#poster:hover {
    opacity: 1;
}

#poster-div {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#link {
    padding: 12px;
    text-decoration: none;
    text-align: center;

    border: black 1.5px solid;
    border-radius: 6px;
}